*    {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body    {
    background: #eee;
    padding:1em;
}

#windowtitle {
    display: block;
    border-bottom: 1px inset black;
    font-size: 2em;
    font-style: italic;
    text-align: center;
}

.completed    {
    background: green;
    text-decoration: line-through !important;
}
